{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>CRM | Mijoz qo'shish</title>
{% endblock title %}
{% block css %}
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'crm/main/css/vendors_css.css'%}">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'crm/main/css/style.css'%}">
	<link rel="stylesheet" href="{% static 'crm/main/css/skin_color.css'%}">
{% endblock css %}
{% block content %}
		<!-- Main content -->
		<section class="content">
			
			<div class="row">
                <div class="col-6">
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: green">{{ message }}</span>
                    {% endfor %}
                {% endif %}
                </div>
				<div class="col-12">
				    <div class="box">
					  
                        <div class="box-header with-border">
                          <h4 class="box-title">Ro'yxatdan o'tkazish</h4>
                        </div>
                        <form action="{% url 'adduser' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Familiya</label>
                                            <input type="text" name="fam" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Ism</label>
                                            <input type="text" name="ism" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Telefon</label><span style="color: green; float: right" >Namuna: 998901234567</span>
                                            <input type="text" name="tel" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Tashkilot</label>
                                            <input type="text" name="com" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Tashkilot manzili</label>
                                            <input type="text" name="comadd" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Mijoz qiymati</label>
                                            <input type="number" name="price" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>ABC</label>
                                            <select name="abc" required class="form-control">
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                                <option value="C">C</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Viloyat</label>
                                            <select class="form-control select2" onchange="getRegion()" id="region" name="region" style="width: 100%;">
                                                <option value="1">Viloyatni tanlang</option>
                                                {% for t in region %}
                                                    <option value="{{ t.id }}">{{ t.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Shahar/Tuman</label>
                                            <select class="form-control select2" id="district" name="district" style="width: 100%;">
                                                <option value="">Viloyatni tanlang</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                          <label>Tug'ilgan kun </label>
                                            <input class="form-control" type="date" name="birth">
                                        </div>
{#                                        <div class="form-group form-group-float">#}
{#                                            <label>Maxsulotlar </label>#}
{#                                              <select multiple class="form-control" name="ill">#}
{#                                                {% for i in ills %}#}
{#                                                    <option value="{{ i.id }}">{{ i.name }}</option>#}
{#                                                {% endfor %}#}
{#                                              </select>#}
{#                                        </div>#}
                                        <button type="submit" class="btn btn-rounded btn-success pull-right" style="margin-bottom: 10px">Saqlash</button>
                                    </div>
                                </div>
                            </div>
                        </form>
			        </div>
			  <!-- /.box -->
			    </div>
			<!--/.col (left) -->

		    </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
{% endblock content %}
{% block js %}

	<!-- Vendor JS -->
	<script src="{% static 'crm/main/js/vendors.min.js'%}"></script>
    <script src="{% static 'crm/assets/icons/feather-icons/feather.min.js'%}"></script>	<!-- Sunny Admin App -->
	<script src="{% static 'crm/main/js/template.js'%}"></script>
    <script>
        function getRegion(){
            var id = document.getElementById("region").value;
            console.log(id)
            $.ajax({
                type: 'get',
                url: `/getregion/?id=`+String(id),
                success: function (r) {
                    console.log('id');
                    console.log(r['district'])
                    $("#district").empty();
                    for (d of r['district']){
                        var op = `<option value="` + d.id + `">` + d.name + `</option>`
                        $('#district').append(op);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    </script>
{% endblock js %}