{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>CRM | Chart</title>
{% endblock title %}
{% block css %}
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'crm/main/css/vendors_css.css'%}">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'crm/main/css/style.css'%}">
	<link rel="stylesheet" href="{% static 'crm/main/css/skin_color.css'%}">
{% endblock css %}
{% block content %}
		<!-- Main content -->
		<section class="content">

		    <div class="row">
				<!-- col -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-body">
							<h4 class="box-title">Line Chart</h4>
							<div id="line-chart"></div>
						</div>
					</div>
				</div>
				<!-- /col -->
				<!-- col -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-body">
							<h4 class="box-title">Bar Chart</h4>
							<div id="bar-chart"></div>
						</div>
					</div>
				</div>
				<!-- /col -->
				<!-- col -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-body">
							<h4 class="box-title">Donute Chart</h4>
							<div id="donut-chart"></div>
						</div>
					</div>
				</div>
				<!-- /col -->
				<!-- col -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-body">
							<h4 class="box-title">Area Chart</h4>
							<ul class="list-inline text-center mt-40">
								<li>
									<h5><i class="fa fa-circle mr-5 text-success"></i>Data 1</h5>
								</li>
								<li>
									<h5><i class="fa fa-circle mr-5 text-info"></i>Data 2</h5>
								</li>
								<li>
									<h5><i class="fa fa-circle mr-5 text-warning"></i>Data 3</h5>
								</li>
							</ul>
							<div id="area-chart3"></div>
						</div>
					</div>
				</div>
				<!-- /col -->
				<!-- col -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-body">
							<h4 class="box-title">line Chart</h4>
							<ul class="list-inline text-right">
								<li>
									<h5><i class="fa fa-circle mr-5 text-primary"></i>Data 1</h5>
								</li>
								<li>
									<h5><i class="fa fa-circle mr-5 text-success"></i>Data 2</h5>
								</li>
								<li>
									<h5><i class="fa fa-circle mr-5 text-info"></i>Data 3</h5>
								</li>
							</ul>
							<div id="area-chart"></div>
						</div>
					</div>
				</div>
				<!-- /col -->
				<!-- col -->
				<div class="col-lg-6">
					<div class="box">
						<div class="box-body">
							<h4 class="box-title">Area Chart</h4>
							<ul class="list-inline text-right">
								<li>
									<h5><i class="fa fa-circle mr-5 text-warning"></i>Data 1</h5>
								</li>
								<li>
									<h5><i class="fa fa-circle mr-5 text-danger"></i>Data 2</h5>
								</li>
							</ul>
							<div id="area-chart2"></div>
						</div>
					</div>
				</div>
				<!-- /col -->
			</div>
		  
		  <!-- /.row -->

		</section>
		<!-- /.content -->
{% endblock content %}
{% block js %}
    
	<!-- Vendor JS -->
	<script src="{% static 'crm/main/js/vendors.min.js'%}"></script>
    <script src="{% static 'crm/assets/icons/feather-icons/feather.min.js'%}"></script>
    <script src="{% static 'crm/assets/vendor_components/raphael/raphael.min.js'%}"></script>
	<script src="{% static 'crm/assets/vendor_components/morris.js/morris.min.js'%}"></script>
	<script src="{% static 'crm/main/js/pages/widget-morris-charts.js'%}"></script>

	<!-- Sunny Admin App -->
	<script src="{% static 'crm/main/js/template.js'%}"></script>

{% endblock js %}